In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('medical_examination.csv')

In [5]:
df["BMI"] = df["weight"] / ((df["height"]/100) ** 2)

In [6]:
df['overweight'] = (df['BMI'] > 25).astype(int)

In [7]:
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,21.967120,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.927679,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.507805,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.710479,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.011177,0

In [8]:
df[["BMI", "overweight"]].head()

         BMI  overweight
0  21.967120           0
1  34.927679           1
2  23.507805           0
3  28.710479           1
4  23.011177           0